
.header{
    background: #BBBBBB;
    padding: 20px 0;
}
.img_logo{
    padding-left: 20px;
}
.div_nav{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.ul_produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.ul_produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.ul_produtos li:hover{
    border-color: #C78C19;
}
.ul_produtos li:active{
    border-color: #088c19;
}
.ul_produtos li:hover h2{
    font-size: 35px;
}
.ul_produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.p_descricao{
    font-size: 18px;
}
.p_preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background-image: url("img/bg.jpg");
    padding: 40px 0;
}
.p_copyright{
    color:white;
    font-size: 13px;
    margin-top: 20px;
}