body{
    background: #FFFFFF;
    
}
.h1_titulo{
    padding-left: 20px;
}
.div_sobre{
    background: #CCCCCC;
    padding: 30px;
}
#img_banner{
    width: 100%;
}
p{
    text-align: center;
}
.h_center{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    /*font-size: 22px;*/
}
.li_lista{
    font-style: italic;
}
.img_beneficios{
    width: 50%;
    padding: 20px;
}
#p_missao{
    font-size: 20px;
}
em strong{
    color: red;
}