body{
    background: #CCCCCC;
}
#banner{
    width: 100%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
.lista{
    font-style: italic;
}
#missao{
    font-size: 20px;
}
em strong{
    color: red;
}